# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*         # ignores .env.local, .env.production, etc.

# Build / output
dist/
build/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log
